:root {
  // accent
  --ACCENT-300: #22e584;
  --ACCENT-500: #14cc70;
  --ACCENT-700: #0f9954;
  --ACCENT-900: #0a6638;

  // light
  --LIGHT-100: #fff;
  --LIGHT-300: #b8c4d7;
  --LIGHT-500: #858585;
  --LIGHT-700: #3c3c3c;
  --LIGHT-900: #d9d9d9;

  // dark
  --DARK-100: #383838;
  --DARK-300: #282828;
  --DARK-500: #171717;
  --DARK-700: #101010;
  --DARK-900: #000;

  --DANGER-500: #cc1439;

  // link
  --LINK-100: #3598db;
}
