.inputWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.inputContainer {
  position: relative;
  display: inline-block;
  width: 100%;
}

.input {
  width: 100%;
  padding: 6px 12px;

  font-family: inherit;
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);

  background-color: var(--DARK-300);
  border-radius: 2px;

  transition: background-color 0.3s ease-in-out,
  color 0.3s ease-in-out,
  border 0.3s ease-in-out,
  outline 0.3s ease-in-out;

  &::placeholder {
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-m);
    color: var(--LIGHT-500);
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:not(:disabled) {
    &:hover {
      background-color: var(--DARK-100);
    }

    &:focus {
      border-color: var(--LINK-100);
      outline: none;
    }

    &:active {
      border-color: var(--LIGHT-500);
    }
  }

  &.error {
    border: none;
    outline: 2px solid var(--DANGER-500);

    &::placeholder {
      color: var(--DANGER-500);
    }

    &:not(:disabled):focus {
      outline: 2px solid var(--DANGER-500);
    }
  }
}
